*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center; /*centrar texto */
    font-family: sans-serif;

}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #2d9359; /*es un color mas oscuro */
    position: fixed; /* posicion en la parte de arriba */
    width: 100%;
    z-index: 100;/* se posicione delante */


}

.navbar {
    display: flex;
    margin-right: 10px; /* separar los enlaces*/


}
.logo{
    margin-left: 50px;
}
.logo a {
    text-decoration: none;
    color: rgb(255, 255, 255);/* color blanco */
    text-transform: uppercase; /*en mayuscula*/
    font-size: 30px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;/* no decoracion*/
    text-transform: uppercase;
    font-size: 20px;


}

.navbar a:hover {
    background: #16dd7a;


}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url ('fondoprincipal.jpg') no-repeat center;/*imagen */
    background-size: cover; /*cubrir al 100% esa imagen */

}
/*vamos a modificar nuestros titulos*/

.title {
    margin-bottom: 60px;
    font-size: 50px;
    font-size: 600;/*grosor*/
    text-transform: uppercase;/*mayusculas*/
    color: rgb(255, 255, 255);
}

/*vamos afectar todos los parrafos*/
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(88, 85, 85);
    padding: 0 100px;

}
/*afectar el boton de home*/
/*primero creamos un boton*/

.btn {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 40 px;
    border: 2px solid #b26cbf;
    color: rgb(218, 212, 212);
    text-decoration: none;
    background: #bd78c9;

}

.btn:hover {
    background: none;


}
.btn-home {
    display: flex;

}

.btn-home a {
    margin: 0 10px;

}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.sau {
    padding: 30px;
    background: #adeed6;

}

.box-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;/* en modo movil ponga en columna*/
    text-align: center;

}
/*vamos afectar esta clase*/
.box-container .box {
    height: 20rem;
    width: 20rem;
    background: #f0c4c4;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 40rem rgba(128, 108, 108, 0.5);
    margin: 1rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #b86ec5;
    font-size: 2rem;
    margin: 1rem 0;



}

.box-container .box h3 {
font-size: 20px;
color: #bf96c6;
}
.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #db9999;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

.contact {
    padding-top: 20px;
    background: #d7c76d;
    padding-bottom: 0;

}

@media (max-width: 768px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;

    }
    
    .sau {
        height: 120;
    }
    .navbar {
        display: none;
    }
}