* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logo {
    margin: 15px 0;
    width: 300px;
}

.nav_principal {
    position: absolute;
    right: 15px;
    top: 15px;
}

.lk_ico_nav_principal {
    text-decoration: none;
}

.ico_nav_principal {
    margin-left: 15px;
    width: 28px;
    height: 28px;
}

nav {
    background-color: #91A66B;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
}

nav ul li a {
    color: #fff;
    padding: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
}

.banner {
    height: 280px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #e6ddd4;
}

h1 {
    color: #313e3f;
    font-size: 1.8rem;
}

.banner p {
    padding: 20px 20% 0 20%;
    color: #282828;
    font-size: 1.6rem;
}

.fundadores {
    position: relative;
    right: 168.75px;
    top: -10px;
    width: 168.75px;
    height: 300px;
}