*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center; /*centrar texto */
    font-family: sans-serif;

}



.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717; /*es un color mas oscuro */
    position: fixed; /* posicion en la parte de arriba */
    width: 100%;
    z-index: 100;/* se posicione delante */


}
.navbar {
    display: flex;
    margin-right: 10px; /* separar los enlaces*/


}
.logo{
    margin-left: 30px;

}
.logo a {
    text-decoration: none;
    color: #fff;/* color blanco */
    text-transform: uppercase; /*en mayuscula*/
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;/* no decoracion*/
    text-transform: uppercase;
    font-size: 20px;


}

.navbar a:hover {
    background: #1e1e1e;


}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url(img/header.jpg) no-repeat center;/*imagen de montañas*/
    background-size: cover; /*cubrir al 100% esa imagen */

}
/*vamos a modificar nuestros titulos*/

.title {
    margin-bottom: 40px;
    font-size: 600;/*grosor*/
    text-transform: uppercase;/*mayusculas*/

}

/*vamos afectar todos los parrafos*/
.p {
    margin-bottom: 40px;
    font-size: 18px;

}
/*afectar el boton de home*/
/*primero creamos un boton*/

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40 px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;

}
.btn-home {
    display: flex;

}

.btn-home a {
    margin: 0 10px;

}