*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center; /*centrar texto */
    font-family: sans-serif;

}



.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717; /*es un color mas oscuro */
    position: fixed; /* posicion en la parte de arriba */
    width: 100%;
    z-index: 100;/* se posicione delante */


}
.navbar {
    display: flex;
    margin-right: 10px; /* separar los enlaces*/


}
.logo{
    margin-left: 30px;

}
.logo a {
    text-decoration: none;
    color: #fff;/* color blanco */
    text-transform: uppercase; /*en mayuscula*/
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;/* no decoracion*/
    text-transform: uppercase;
    font-size: 20px;


}

.navbar a:hover {
    background: #1e1e1e;


}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url (img/header.jpg) no-repeat center;/*imagen de montañas*/
    background-size: cover; /*cubrir al 100% esa imagen */

}
/*vamos a modificar nuestros titulos*/

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-size: 600;/*grosor*/
    text-transform: uppercase;/*mayusculas*/
    color: #fff;
}

/*vamos afectar todos los parrafos*/
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;

}
/*afectar el boton de home*/
/*primero creamos un boton*/

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40 px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;

}

.btn:hover {
    background: none;


}
.btn-home {
    display: flex;

}

.btn-home a {
    margin: 0 10px;

}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.sau {
    padding: 30px;
    background: #1f1d1d;

}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;/* en modo movil ponga en columna*/
    text-align: center;

}
/*vamos afectar esta clase*/
.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;



}

.box-container .box h3 {
font-size: 20px;
color: #9c27b0;
}
.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

.price {
    background: url(img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;

}

@media (max-width: 768px) {
    .title {
        margin-bottom: 0;
        font-size: 40px;

    }
    
    .sau {
        height: 120;
    }
    .navbar {
        display: none;
    }
}